.header {
    background-color: #926FF6;
}

.nav-link {
    color: white !important;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 400;
}

.navbar-brand {
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 800;
    color: white !important;
}
h4{
    color:#FFE074;
    font-weight: 800;
    font-size: 12px;
    font-family: "poppins";
    margin-bottom: 5px;
}
h6{
    color: #FFFFFF;
font-size: 16px;
font-family: "poppins";
font-weight: 300;
margin-bottom: 5px;
}

h1{
    color: #FFFFFF;
    font-size: 62px;
    font-family: "poppins";
font-weight: 800;
}








